__history/
Thumbs.db
.DS_Store
*.~*
*.bak
*.BAK
*.cfg
*.CFG
*.chm
*.db
*.DB
*.dcu
*.DCU
*.ddp
*.dll
*.DLL
*.dof
*.DOF
*.dres
*.dsk
*.DSK
*.dti
*.exe
*.EXE
*.fam
*.FAM
*.gid
*.GID
*.hlp
*.HLP
*.identcache
*.local
*.log
*.map
*.MAP
*.mb
*.MB
*.net
*.NET
*.obj
*.OBJ
*.opt
*.OPT
*.px
*.PX
*.res
*.RES
*.scc
*.tsl
*.tsr
*.tv
*.TV
*.val
*.VAL
*.[Xx]0*
*.[Yy]0*
*.[Xx][Gg]*
*.[Yy][Gg]*
*.zip
*.ZIP
